assets/avatar/*
!assets/avatar/.gitkeep
assets/generated/*
!assets/generated/.gitkeep
assets/recordings/*
!assets/recordings/.gitkeep
assets/screenshots/*
!assets/screenshots/.gitkeep
output/*
!output/.gitkeep
